<div class="logo border-gradient-bottom border-gradient-purple-bottom">
    <span class="logo-capital-letters">M</span>usic<span class="logo-capital-letters">N</span>ews
</div>
<nav>
    <ul>
        {{#each menu}}
            <li><a href="{{route}}">{{name}}</a></li>
        {{/each}}
    </ul>
</nav>
<footer class="border-gradient-top border-gradient-purple-top">
    Copyright © mscnwswbs.com, 2021. All rights reserved
</footer>