<link rel="stylesheet" href="/css/loggedInPageStyle.css">
<link rel="stylesheet" href="/css/findPageStyle.css">
<main>
    <div class="find-page">
        <div class="user-input">
            <div class="form-group">
                <input type="text" class="form-control" name="findUserName" id="findUserName" placeholder="Введіть ім'я користувача...">
            </div>
        </div>
        <div class="users">

        </div>
    </div>
</main>
<script src="/js/findUsers.js"></script>