<link rel="stylesheet" href="/css/loggedInPageStyle.css">
<link rel="stylesheet" href="/css/listsPageStyle.css">
<main>
    <div class="new-post">
        <div class="spans">
            <span class="material-icons spans" data-toggle="tooltip" data-placement="top"
                   title="Додати список" id="createList">control_point</span>
        </div>
        <div class="new-list-form">

        </div>
    </div>
    <div class="lists">
        {{> lists}}
    </div>
</main>
<script src="/js/addList.js"></script>